@font-face{
    src: url(beon-webfont.ttf);
    font-family: 'neon1';
}
@font-face{
    src: url(Halogen\ Gas\ Lights.otf);
    font-family: 'neon2';
}
*{
    margin: 0;
    padding: 0;
    background-color: #000;
}
.background{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(rgb(4, 46, 65),rgb(3, 28, 37),#000);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align:center;
    animation: buzz 4s infinite alternate;
}
.back{
    margin: auto;
    background-color: rgb(149, 225, 255);
    padding: 4px;

    border-radius: 15px;
    box-shadow: 0px 0px 40px -20px rgb(4, 179, 248);
    animation: buzz 4s infinite alternate;
}
.front{
    
    background: radial-gradient(#000,rgb(3, 28, 37),rgb(4, 46, 65));
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px -20px rgb(4, 179, 248),0px 0px 40px -15px rgb(4, 179, 248) inset;
}
.main-text{
    font-family: neon1,sans-serif;
    background-color: transparent;
    font-size: 70px;
    font-weight: 200;
    color: rgb(255, 191, 191);
    text-shadow: 0px 0px 15px rgb(255, 0, 0),0px 0px 25px rgb(255, 4, 4),0px 0px 50px rgb(255, 2, 2);
    animation: blink 5s infinite alternate;
}
.sub-text{
    font-family: neon1,sans-serif;
    margin-top: 10px;
    padding: 2px 0px;
    border: 3px rgb(255, 189, 255) solid;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(255, 0, 255),0px 0px 15px rgb(255, 0, 255) inset;
    background-color: transparent;
    font-size:50px;
    color: rgb(255, 189, 255);
    font-weight: 200;
    text-shadow: 0px 0px 10px rgb(255, 0, 255),0px 0px 15px rgb(255, 0, 255),0px 0px 25px rgb(255, 0, 255);
    animation: blink 4s 1s infinite alternate;
}
@keyframes blink{
    40%{
        opacity:1;
    }
    42%{
        opacity:0.8;
    }
    43%{
        opacity:1;
    }
    45%{
        opacity:0.2;
    }
    46%{
        opacity: 1;
    }
}
@keyframes buzz{
    70%{
        opacity:1;
    }
    71%{
        opacity:0.7;
    }
    72%{
        opacity:1;
    }
    74%{
        opacity:0.2;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}